*{
    margin:0;
    padding: 0px;;
    box-sizing: border-box;
}
@font-face{
    font-family: "PatrickHand-Regukar";
    src: url("../assets/fonts/PatrickHand-Regular.ttf");
}
@font-face{
    font-family: "Raleway-Light";
    src: url("../assets/fonts/Raleway-Light.ttf")
}